* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

$red-color: crimson;
$black-color: #333;
$gray-color: #ddd;

body {
    background-color: $black-color;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;

    .logo {
        display: flex;

        .first-logo {
            color: $gray-color;
            font-family: "Belanosima", sans-serif;
        }

        .second-logo {
            font-size: 0.8em;
            color: $red-color;
            margin-top: 10px;
            font-family: "Belanosima", sans-serif;
        }
    }

    ul {
        display: flex;
        width: 300px;
        justify-content: space-between;

        li {
            list-style: none;
        }

        a:hover {
            color: $red-color;
        }

        a {
            text-decoration: none;
            color: $gray-color;
            font-size: 0.8em;
            transition: 0.5s;
        }
    }
}

.jumbotron {
    display: flex;
    width: 70%;
    height: 800px;
    margin: auto;
    align-items: center;
    justify-content: space-evenly;

    .foto {
        width: 300px;
        height: 300px;
        margin-top: 50px;
        overflow: hidden;
        border: 3px solid $gray-color;
        border-radius: 50%;
        margin-bottom: 20px;
        order: 2;
    }

    .nama {
        color: $gray-color;
        order: 1;

        h1 {
            font-size: 4em;
            font-weight: 800;
            font-family: "Belanosima", sans-serif;

            span {
                color: $red-color;
                font-family: "Belanosima", sans-serif;
            }
        }

        p {
            margin-top: 20px;
            font-size: 1.2em;
            font-family: "Belanosima", sans-serif;
        }

        a {
            display: block;
            font-size: 2.5em;
            color: $gray-color;
            margin-top: 20px;
        }

        .tech-stack {
            display: flex;
            height: 50px;
            align-items: center;
            justify-content: space-between;

            p {
                margin: 0;
            }

            i {
                font-size: 3em;
            }
        }
    }
}
